.special-effects{
  background-color: tomato;
  animation: test infinite ease-in 1s;
}

@keyframes test{
0%{
  font-size: 30px;
}
50%{
  font-size: 35px;
}
100%{
  font-size: 25px;
}
}

.light{
  background-color: white;
  color: black;
}

.dark{
  background-color: black;
  color: white;
}
.square{
  width: 100px;
  height: 100px;
  background-color: aqua;
  margin-bottom: 10px;
}
.squares-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tweet-styles{
  height: 100px;
  border-radius: .25rem;
}

.corral{
  width: 80vw;
  height: 50vh;
  border: black dotted 3px;
}
.pet{
  width: 75px;
  height: 75px;
  background-color: tomato;
}

.test-img{
  height: 700px;
  width: 600px;
  border-radius: .1rem;
}
.big-bg{
  width: 100vw;
  height: 100vh;
}